@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}


.header {
    background-color: #2c3e50;
    color: #f6f8fa;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

li {
    margin: 15px;
}

.navclase {
    display: flex;
    font-size: medium;
}

.seccion {
    background-color: #18bc9c;
    min-height: 80vh;
    padding-top: 60px;
}

.centro {
    display: flex;
    color: #f6f8fa;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}

.intro {
    max-width: 70%;
}

.subTitulo {
    color: #2c3e50;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
}

.portafolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    gap: 8px;
}

img {
    width: 300px;
}

.linea {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.about {
    background-color: #18bc9c;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    align-items: center;
    min-height: 23vh;
}

.articulo {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}

.questionsContainer{
    display: flex;
    flex-direction: column;
    color: #2c3e50;
}
.question{
    display: flex;
    flex-direction: column;
}
.questionOptions{
    display: flex;
    flex-direction: column;
}
.contacme {
    display: flex;
    flex-direction: column;
    color: #2c3e50;
    align-items: center;
}

.footer {
    background-color: #2c3e50;
    height: 5rem; 
}

.containerGraf{
border: #2c3e50 solid 2px;
}
canvas{
    width: 1.5rem;
    height: 8.5rem;
    z-index: 999999;
}
.labelOpc{
    display: flex;
}
.labelOpc p{
    margin: 0px;
}
.containerOpc{
    padding-left: 5%;
}