html body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}
.pageContainer{
    background-color: #242424;;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.headerContainer{
    background-color: black;
    width: 100%;
    height: 6rem;
    display: flex;
    border-bottom: #ece1e1 10px;
    margin-bottom: 2rem;
}
.footerContainer{
background-color: black;
height: 6rem;
}